body {
    background-color: #F9EBC8;
}

header {
    background: url(../images/logo.png) no-repeat;
    margin-top: 30px;
    padding: 20px 200px;
}

.wrap {
    margin: 30px 10%;
}

nav {
    margin-bottom: 30px;
}

.flexThis {
    display: flex;
    flex-wrap: wrap;
    background-color: #DAE5D0;
    padding: 10px;
    border-radius: 10px;
}

.flexThis ul {
    flex: 4;
}

.flexThis iframe {
    flex: 1;
}

main {
    flex: 4;
}

aside {
    flex: 1;
    margin-left: 20px;
}

aside img, iframe {
    padding: 10px;
    background-color: #F9EBC8;
    border-radius: 10px;
}

.nav-item {
    margin-right: 50px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}

.card { 
    margin-left: 30px;
}

.myGray {
    background-color: #A0BCC2;
    color: white;
}

.myGreen {
    background-color: #DAE5D0;
}

.myBeige {
    background-color: ##FEFBE7;
}

@media screen and (min-width: 700px) {
    body {
     margin-left: 10%;
    }
  }